@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
   scroll-behavior: smooth;
}

body {
   width: 100%;
   background-color: #2B0059;
}

// search
.search {
   width: 100%;
   height: 100vh;
   padding-top: 25vh;

   .search-container {
      width: 90%;
      margin: auto;
      display: grid;
      place-items: center;

      h1 {
         color: #F9F9FA;
         font-size: 60px;
      }

      .input {
         width: 90%;
         margin: 30px auto;

         input, button {
            color: #F9F9FA;
            width: 100%;
            font-size: 18px;
            border: none;
            outline: none;
            padding: 15px;
            border-radius: 4px;
            background-color: #2A336C;
         }

         input::placeholder {
            color: #F9F9FA;
         }

         button {
            margin-top: 12px;
            font-size: 20px;
            background-color: #55B998;
            transition: all .3s ease;

            i {
               margin-left: 10px;
            }
         }
         
         button:hover {
            background-color: #3a866d;
         }

      }
   }
}

// loader
.loader {
   display: none;
   text-align: center;
   padding-top: 40vh;

   .lds-ripple {
      display: inline-block;
      position: relative;
      width: 100px;
      height: 100px;
    }
   
    .lds-ripple div {
      position: absolute;
      border: 4px solid #fff;
      opacity: 1;
      border-radius: 50%;
      animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
   
    .lds-ripple div:nth-child(2) {
      animation-delay: -0.5s;
    }
   
    @keyframes lds-ripple {
      0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
      }
      100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
      }
    }   
}

.not-found {
   display: none;
   width: 100%;
   height: 100vh;
   padding-top: 40vh;
   text-align: center;

   .not {

      h1 {
         font-size: 34px;
         font-weight: 600;
         color: #F9F9FA;
      }

      button {
         width: 70%;
         margin: 20px auto;
         font-size: 20px;
         background-color: #55B998;
         transition: all .2s ease;
         color: #F9F9FA;
         border: 0;
         outline: 0;
         padding: 15px;
         border-radius: 5px;
      }

      button:hover {
         background-color: #3a866d;
      }
   }
}